.netflix-logo {
  width: 150px;
  height: 50px;
  margin-left: 0;
}
body {
  margin: 0;
  height: 100vh;
  background-color: black !important;
  overflow: scroll;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.mainDiv {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.subDiv {
  margin-top: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.divHeading {
  color: white;
  font-weight: normal;
  letter-spacing: 1px;
}
.profile-image {
  cursor: pointer;
  margin: 6px;
  width: 100px;
  height: 100px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);

  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.profile-image:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  box-shadow: rgba(255, 255, 255, 0.15) 0px 15px 25px,
    rgba(255, 255, 255, 0.05) 0px 5px 10px;
}
.image-div {
  text-align: center;
}
.add-button-div {
  height: 73.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.add-button-image {
  cursor: pointer;
  margin: 5px;
  width: 60px;
  height: 60px;
}
.add-button-image:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.profile-name,
.add-button {
  margin-top: 11px;
  text-align: center;
  color: grey;
}
.manage-button-div {
  margin-top: 3em;
}
.manage-profile {
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media (min-width: 0px) and (max-width: 240px) {
  .divHeading {
    margin-bottom: 1em;
  }
}

@media (min-width: 241px) and (max-width: 280px) {
  .divHeading {
    margin-top: 1.5em;
    margin-bottom: 1em;
  }
  .image-div {
    margin-bottom: 1em;
  }
}
@media (min-width: 281px) and (max-width: 320px) {
  .divHeading {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

@media (min-width: 361px) and (max-width: 384px) {
  .divHeading {
    margin-bottom: 1em;
  }
}
@media (min-width: 414px) and (max-width: 480px) {
  .divHeading {
    margin-top: 1em;

    margin-bottom: 1em;
  }
  .image-div {
    margin-bottom: 0.5em;
  }
}
